<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Table V02</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
        <!--===============================================================================================-->
        <!--         <link rel="stylesheet" type="text/css" href="css/util.css"> -->
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!--===============================================================================================-->
    </head>
    <body>
        <style>
        @import url(http://fonts.googleapis.com/css?family=Lato:400,700);
        .profile
        {
        font-family: 'Lato', 'sans-serif';
        }
        .profile
        {
        margin-top: 2px;
        padding:1px;
        display: inline-block;
        }
        .divider
        {
        border-top:1px solid rgba(0,0,0,0.1);
        }
        .emphasis
        {
        border-top: 1px solid transparent;
        }
        .emphasis h2
        {
        margin-bottom:0;
        }
        span.tags
        {
        background: #1abc9c;
        border-radius: 2px;
        color: #f5f5f5;
        font-weight: bold;
        padding: 2px 4px;
        }
        .profile strong,span,div{
        position: relative;
        text-transform: initial;
        }
        
        </style>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-radius: 16px;">
                            <div class="well profile col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <div style="margin-top: 10px">
                                        <img src="https://www.qualiscare.com/wp-content/uploads/2017/08/default-user.png" alt="user" class="img-circle" style="width:100px;" id="user-img">
                                    </div>
                                    <a href="/load"><span class="fa fa-arrow-right"></a>
                                    <a href="/logout" class="logout">X</a>
                                    <h5 style="text-align:center;"><strong id="user-name"><%= user.fullname %></strong></h5>
                                    <p style="text-align:center;font-size: smaller;" id="user-frid"><%= user.username %> </p>
                                    <p style="text-align:center;font-size: smaller;overflow-wrap: break-word;" id="username"><%= user.id %></p>
                                    <p style="text-align:center;font-size: smaller;"><strong>Subscribe status: </strong><span class="tags" id="user-status">
                                        <% if(typeof courses === "undefined"){ %>
                                    0/4</span></p>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
                                    <p style="text-align:center;font-size: smaller;"><strong>Courses</strong></p>
                                    <div class="alert alert-danger">You have not subscribed to courses yet</div>
                                    <% } else{ %>
                                <%= size %>/4</span></p>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
                                
                                <div class="limiter">
                                    <div class="container-table100">
                                        <div class="wrap-table100">
                                            <div class="table">
                                                <div class="row header">
                                                    <div class="cell">
                                                        Course name
                                                    </div>
                                                    <div class="cell">
                                                        Teacher name
                                                    </div>
                                                    <div class="cell">
                                                        Grade
                                                    </div>
                                                    <div class="cell">
                                                        Undo
                                                    </div>
                                                </div>
                                                <% courses.forEach(function(course) { %>
                                                <div class="row">
                                                    <div class="cell" data-title="Course_name">
                                                        <%= course.course_name %>
                                                    </div>
                                                    <div class="cell" data-title="Teacher name">
                                                        <%= course.teacher_name %>
                                                    </div>
                                                    <div class="cell" data-title="Grade">
                                                        <%= course.grade %>
                                                    </div>
                                                    <div class="cell" data-title="Undo">
                                                    <form method='POST' action='/profile'>
                                                        <input type="hidden" name="userid" value='<%= user.id %>'>
                                                        <input type="hidden" name="course_number" value='<%= course.course_number%>'>
                                                        <input type="hidden" name="deleteid" value='<%= course.course_id %>'>
                                                        <button type="submit" class="btn btn-info">Unsubscribe from this course</button>
                                                </form>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
                                                <% }); %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
</body>
</html>